<h1>Time tracking tool</h1>

<h3> Update! <%= @my_project.name %></h3>

<%= form_for [@my_project, @my_entry] do |f| %>
	<%= f.label :hours %><br>
	<%= f.text_field :hours %><br>
<br><br>
	<%= f.label :minutes %><br>
	<%= f.text_field :minutes %><br>
<br>
	<%= f.label :date %><br>
	<%= f.date_field :date %><br>
<br><br>
<%= f.submit "Update!" %>
<% end %>

<%= link_to "Cancel", project_time_entries_path(@my_project) %>